.navbar {
    background-color: #f68207 !important; /* Fondo naranja */
  }
  
  .navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
  }
  
  .nav-link {
    color: white !important; /* Texto blanco */
    margin-right: 1rem;
    font-size: 1.1rem;
  }
  
  .nav-link:hover {
    color: #ffcc80 !important; /* Color al pasar el mouse */
  }
  
  .navbar-toggler {
    border-color: rgba(255, 255, 255, 0.5);
  }
  
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' linecap='round' linejoin='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  